body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 30px;
  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root{
  --bodyFontSize: 14px;
  --mailTitle: 50px;
  --primary: #2ba7af;
  --secondary: #18245c;
  --grey: #666;
  --lightGrey: #c5c5c5;
}

